<% breadcrumb :user_show, @user%>
<h1>ユーザ詳細</h1>
<p>
  <%= @user.name %>
</p>
<p>
  <%= @user.profile %>
</p>
<%= link_to '編集', edit_user_path %>
<div>
  <% @user.posts.each do |post| %>
    <p>
      <%= link_to post.title, post_path(post) %>
    </p>
  <% end %>
</div>
